[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-crispy-forms = "*"
youtube-search-python = "*"
requests = "*"
wikipedia = "*"
youtube-search = "*"

[dev-packages]

[requires]
python_version = "3.9"
